.info{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold
}

.col1{
    background-color: #ccccff
}

.col2{
    background-color: #ffcccc
}

.col3{
    background-color: #ffcc66
}

.entete{
    font-family: 'Times New Roman',Times,serif;
    font-size: 14px;
    font-weight: bold
}